/* Conteúdo principal da notícia */
.news-content {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-top: 20px;
}

/* Sidebar */
.sidebar {
    background-color: #EAF7FF;
    padding: 20px;
    border-left: 4px solid #5BC0EB;
    border-radius: 10px;
}

.sidebar h4 {
    color: #00528C;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar a {
    color: #00528C;
    text-decoration: none;
    display: block;
    margin-bottom: 12px;
    font-size: 1rem;
    transition: color 0.3s ease;
    text-align: center;
    font-weight: 500;
}

.sidebar a:hover {
    color: #FFD700;
}

/* Carousel */
#carouselNewsImages {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #F7F7F7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#carouselNewsImages .carousel-item img {
    max-height: 400px;
    width: auto;
    object-fit: contain;
    margin: auto;
    border-radius: 8px;
}

#carouselNewsImages .carousel-control-prev,
#carouselNewsImages .carousel-control-next {
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselNewsImages .carousel-control-prev:hover,
#carouselNewsImages .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#carouselNewsImages .carousel-control-prev-icon,
#carouselNewsImages .carousel-control-next-icon {
    filter: invert(1);
    width: 20px;
    height: 20px;
}

/* Título da notícia */
.news-title {
    color: #5BC0EB;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

/* Data e autor */
.text-muted {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        margin-top: 30px;
    }

    .news-title {
        font-size: 2rem;
        text-align: center;
    }

    .text-muted {
        text-align: center;
    }
}
