<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Creche Criando o Futuro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Mural</a></li>
                <li class="nav-item"><a class="nav-link" href="/cardapio">Cardápio</a></li>
                <li class="nav-item"><a class="nav-link" href="/informacoes">Informações</a></li>
                <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
            </ul>
            <div class="navbar-icons d-flex ms-3">
                <a href="https://wa.me/+5521990916427" target="_blank" class="text-white">
                    <i class="fab fa-whatsapp fs-4"></i>
                </a>
                <a href="https://www.instagram.com/cm.criandoofuturo/" target="_blank" class="text-white ms-3">
                    <i class="fab fa-instagram fs-4"></i>
                </a>
                <a href="/gerenciar-postagens" class="text-white ms-3">
                    <i class="fas fa-cogs fs-4"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
