/* Geral */
html, body {
    height: 100%;
    margin: 0;
    background-color: #F7F7F7;
}

/* Navbar */
.navbar {
    background-color: #19779f; /* Cor do fundo da navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 10px 0;
}

.navbar-brand {
    color: #fff !important; /* Cor do texto da marca */
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #FFD700 !important; /* Cor ao passar o mouse */
    transition: color 0.3s ease-in-out;
}

.nav-link {
    color: #fff !important; /* Cor dos links no menu */
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: #FFD700 !important; /* Cor dos links ao passar o mouse */
}

/* Ícones da navbar */
.navbar-icons {
    display: flex; /* Alinha os ícones em linha */
    align-items: center;
    margin-left: auto;
}

.navbar-icons a {
    color: #fff; /* Cor dos ícones */
    text-decoration: none; /* Remove o sublinhado */
    margin-left: 1rem; /* Espaçamento entre os ícones */
}

.navbar-icons a:hover {
    color: #FFD700; /* Cor ao passar o mouse */
}

.navbar-icons i {
    font-size: 1.8rem; /* Tamanho dos ícones */
}

/* Estilo Mobile */
@media (max-width: 768px) {
    .navbar {
        position: fixed; /* Fixa no topo */
        top: 0;
        width: 100%;
        z-index: 10; /* Garante que fique acima de outros elementos */
    }

    .navbar-collapse {
        background-color: #19779f; /* Cor de fundo para o menu no mobile */
    }

    .navbar-nav {
        margin-top: 1rem; /* Espaçamento entre os itens no mobile */
        text-align: center; /* Centraliza os links */
    }

    .navbar-icons {
        justify-content: center; /* Centraliza os ícones no mobile */
        margin-top: 1rem; /* Espaço entre os ícones e o menu */
    }

    .navbar-icons i {
        font-size: 1.5rem; /* Reduz o tamanho dos ícones no mobile */
    }
}

/* Footer */
.footer {
    background-color: #19779f; /* Fundo do footer */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #FFD700;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
